celery
dj-database-url
django-admin-sortable
django-cumulus
django-mailgun
django-mptt
django-redis
django-simple-resizer
django-solo
Django
FeinCMS
Markdown
newrelic
pep8
Pillow
psycopg2
pylint
pyrax
uWSGI
